{% extends 'layout.html' %}

{% block body %}
<main role="main" class="container">
    <div class="container">
        <div class="starter-template">
            <div style="padding-top: 10px;">
                <h1 class="display-4">Presentation & Visualization Exam</h1>
                <p class="lead">Blai Ras<br>
                <a href="https://drive.google.com/file/d/1AbYNRxzO1yR2cepEnIz688Xau9aKg-6e/view?usp=sharing">Please download my Code of Honor</a></p>
                <h2 class="">Exercise 1</h2>
                Please, choose between some different jobs:<br>
                {{ form.job }}
                <div id="" style="display:block" class="container">
                    <div class="charts text-center">
                        <div class="row"><div id="jobSex"></div></div>
                        <!-- Placeholder for the tooltip -->
                        <div class="vg-tooltip"></div>
                    </div>
                </div>
                <p class="lead">I decided to do a chart that shows the percentage of population working as a certain job <b>grouped by gender</b>. However, due to
                the large amount of jobs present in the dataset, I decided to select five of the most interesting ones. Specifically, I chose four of the jobs with
                more disparity in terms of man and women working as that jobs, and then, one of the jobs with less disparity: 'cook'.</p>
                <p class="lead">With that job-selection, my chart is able to represent in a graphical way this difference between gender that won't be as clear
                as seen in plain numbers. So, in the x-axis we have all the possible years, a temporal variable, and on the y-axis we have the percentage, a numerical variable, formatted as '%' to a better
                understanding. <b>I color-coded each gender</b>, blue for man and orange for woman, and this assignation stays the same for every chart. Notice, also, how
                the title changes for each job that we choose.</p>
                <p class="lead">So, as a conclusion, we can see that jobs like mechanical engineer or welder are highly populated by male. Instead, jobs like nurse
                or dressmaker are dominated by women. What a society we live in! Thankfully, in some jobs, we see that in the late 90's the less-populated gender
                starts growing towards equality. Now choose the job "cook". Interestingly, <b>this is one of the most equally distributed jobs</b> through the years!</p>
                <h2 class="">Exercise 2</h2>
                <p class="lead">For this exercise I decided to use Excel as a tool of table design. Believe it or not, most companies use Excel as a database & presentation tool.
                The job that I chose is "Farmer". So, before beginning with the steps I made in order to "beautify" the table, let's take a look at it's raw version,
                the format that Excel gave us after importing it from a <i>.csv</i> file.</p>
                <div class="card" style="">
                    <div class="card-header" style="text-align: center">
                        "Farmer" job evolution from 1950 to 2000
                    </div>
                    <img class="card-img-top" src="/static/images/TableBefore.png" alt="Raw table">
                    <div class="card-footer text-muted" style="text-align: center">
                        Raw table
                    </div>
                </div>
                <p class="lead">In order to create an easy-to-understand table and in order to remove cognitive load I performed the following steps:</p>
                <ul>
                    <li>Removed gridlines and borders.</li>
                    <li>Capitalized the first letter of the titles and "Sex" variable types.</li>
                    <li>Left aligned text and right aligned numbers.</li>
                    <li>Aligned each title depending on their data type.</li>
                    <li>Rounded numbers. Precision of the amount of workers is changed to millions and the percentage is rounded to the closest decimal.</li>
                    <li>Removed repetition on "Sex" variable.</li>
                    <li>White-spaced the different "Sex" variable types and the titles from the data.</li>
                    <li>Resized each column to fit the data length.</li>
                    <li>Removed Calibri Font family.</li>
                </ul>
                <div class="card" style="">
                    <div class="card-header" style="text-align: center">
                        "Farmer" job evolution from 1950 to 2000
                    </div>
                    <img class="card-img-top" src="/static/images/TableAfter2.png" alt="Raw table">
                    <div class="card-footer text-muted" style="text-align: center">
                        Formatted Table. Less is more!
                    </div>
                </div>
                <h2 class="">Exercise 3</h2>
                <p class="lead">My selected audience for this dashboard is the technical department of the Ministry of Equality. Specifically, the team that reports and
                delivers all the data for other departments or independent studies. This team has decided that they are going to make an internal dashboard that will use
                when making this reports. They are tired of making the same plot over and over for different reports when the only thing that is changing is the data.<br>
                With this new dashboard, every member of the team can refer to it in order to select the demanded data and choose the best plot. Thanks to this dashboard,
                the data of every plot will auto-refresh.<br>
                Therefore, the first users of this dashboard are going to be the team members, experts on the field. But, once this experts export the data and plots of
                this dashboard, the other users will not have this expert-level on the field. In consequence:
                <ul>
                    <li>Gender is color-coded on each plot: dark-blue for man and purple for woman.</li>
                    <li>Gender is also represented with male and female icons, removing cognitive load and making it easier to understand.</li>
                </ul>
                </p>
                <h5>Plot 1</h5>
                <p>This first plot represents a mapamundi (that I was not able to draw by hand) where every country can be highlighted with the <i>mouseover</i> event.
                This means that the user can select every country and the bar-plot on the right will auto-update it's data and title from the country we selected.
                In the image, Algeria is selected and therefore is highlighted in brown. This graph also has an interactive tooltip, showing the name of the country
                when our cursor hovers it.<br>
                The bar-plot shows the political participation of the selected country by gender. "Man" always shows on the left and "Woman" on the right, with the
                same colors. It's scale auto-refreshes with the data range.</p>

                <div style="text-align: center"><img width="96%" src="/static/images/Map.jpg"><br>Plot 1: Mapamundi with Algeria selected.</div>
                <h5>Plot 2</h5>
                <p>In second place we have a pie chart. Pie chart suits perfect for this kind of data since they are specially efective when working with binary data
                types, i.e., variables that only have two kind of values. In this case, this variable is gender, which can only be "Man" or "Woman" in this dataset.
                Pie charts should not be used to represent a variable with more than 3 types of values as we are not able to get an idea of the distribution.<br>
                The scanned image has not enough quality but each part of the pie chart is painted with blue and purple. This plot also shows the variable types as labels
                and the percentages of the distribution. It can also be hovered to highlight the selected part and to show a tooltip with the exact number count instead
                of the percentage. This chart can show, for example, gender distribution of the job "Welder" (that will be its title).</p>
                <div style="text-align: center;"><img width="96%" src="/static/images/Piechart.jpg"><br>Plot 2: Piechart of gender distribution.</div>
                <h5>Plot 3</h5>
                <p>This last plot its an horizontal bar plot with two graphical elements on it to help identify each group. I chose this plot because it's a smart
                way to represent every gender with it's human icon (it can also be the ♂ or ♀ symbol) and it gives more dynamism to the dashboard. Each bar has
                its percentage distribution in the middle of it and it has been color-coded as the other ones.<br>
                This plot helps identifying gender disparity or equality as one bar will be more pushed (or not) than the other. One inconvenient can be that we might
                not have an exact representation of where the bar starts since the icon overlaps with it.<br>
                Therefore, this chart can show the distribution of nominations at the Nobel prizes.</p>
                <div style="text-align: center"><img width="96%" src="/static/images/Bar.jpg"><br>Plot 3: Horizontal bar plot with gender icons.</div>
                <h2 class="">Exercise 4</h2>
                <p class="lead">I will be choosing the <b>similarity topic</b>. Similarity states that "we tend to group together things taking in consideration their
                    likeness between each other". Not only we group them, we also think that they have the same function. Take, for instance, this image:</p>
                <div style="text-align: center"><img alt="" src="/static/images/Gesalt.png"><br><a href="http://www.creativebeacon.com/design-principles-part-one/">Source</a></div>
                <p class="lead">We do not only see a regular square, we also perceive a "diamond-shape" of circles. Why? We are <b>grouping</b> by shape-similarity. <br>
                    Take in consideration that similarity is not only conceived by shape: <b>color</b> is also a well-know similarity factor, as we can see in the picture below:</p>
                <div style="text-align: center"><img src="https://www.topcoder.com/wp-content/uploads/2019/08/image2-300x206.png"><br><a href="https://www.topcoder.com/gestalt-principles-for-data-visualization/">Source</a></div>
                <p class="lead">All 12 squares have exactly the same shape, size and they are organized with the same margin. Nevertheless, <b>we instantly do two
                    classifications</b>: the two inner rows as one group and the two outer ones as another. Why? Color! Blue for the inner ones and green for the outer ones.<br>
                A curiosity: the similarity principle <b>is used in all color-blind tests</b>. A color-blind person will struggle to identify the "12" number in this picture below
                as he cannot group the "12" number shape by color similarity.</p>
                <div style="text-align: center"><img src="https://miro.medium.com/max/500/1*ZdgQ-BehaiceOqwHaRaZRw.png"><br><a href="https://medium.com/design-notes/a-tale-of-a-colour-blind-designer-9ac4cda46318">Source</a></div>
                <h2 class="">Exercise 5</h2>
                Designed with Adobe InDesign, I created a short presentation that highlights the most important key factors of my CV. In order to do that, I took into
                account the following factors:
                <ul>
                    <li>Colors: I'm "selling myself", I want to <b>reflect that I'm a serious</b> and elegant person. Therefore, I used black as main color.</li>
                    <li>It's a CV representation so I want the audience to focus on me, on the information that I'm showing. Consequently, I <b>designed a minimalist
                    presentation</b>: small but solid amount of text, simple geometrical figures, simple icons. I also kept the short the presentation.</li>
                    <li>The few images that I used are <b>full resolution</b> and full-screen.</li>
                    <li>I included "lines" as graphical elements to give <b>uniformity</b>.</li>
                    <li>As for the <b>typography</b>, I used Montserrat. Why? I wanted to communicate youngness and freshness so a Sans-Serif font is the choice. Montserrat is not
                    the most serious font but for me it's the middle point between a modern and serious typography. I also used it's bold properties to force <b>categorization
                        and reading order</b>.</li>
                </ul>
                Please, <a target="_blank" href="https://drive.google.com/file/d/1B5UQQkHNagufK8n8b8fZ9SuiVDdswGOD/view?usp=sharing">take a look or download the presentation.</a>
                Watch it full-screen, one page at once!
            </div>
        </div>
    </div>
</main>

<script>
    var jobSelect = document.getElementById("job");

    function render(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: {export: true, source: false, editor: false}
        };
        vegaEmbed("#"+div, url, opt, function(error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    function renderJob() {
        job = jobSelect.value;
        console.log(job);
        render("/data/" + job, "jobSex");
    }
    jobSelect.onchange = renderJob;
    window.onload = renderJob;
</script>


{% endblock %}